
#boardArea {
    margin-top: 3em;
}

tr td a:hover {
    text-decoration: none;
}

.delete-icon-trash {
    font-size: 24px
}

.edit-icon, .delete-icon {
    cursor: pointer;
    color: #b9bbbe;
    font-size: 24px;
}

.edit-icon:hover, .delete-icon:hover {
    color: black;
}