body {
    padding-top: 50px;
    background-color: #edf2f7 !important;
    text-align: center;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
}

a, img {
    cursor: pointer;
}

img:hover{
    -moz-box-shadow: 0 0 10px #b1b1b1;
    padding: 0;
    box-shadow: 0 0 10px #b1b1b1;
}

img:active{
    filter: hue-rotate(-55deg);
}

.starter-template {
    padding: 2% 15px;
    text-align: center;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.navbar .nav.navbar-nav>li>.btn {
    padding: 10px 22px;
    margin-right: 18px;
    background-color: transparent;
    border: none;
}

.navbar .nav.navbar-nav>li>.btn.btn-one {
    background-color: transparent;
    border: 1px solid #4b9ae8;
    color: #4b9ae8;
}

.login-form form {
    background: #f7f7f7;
    box-shadow: 0 0 0.25em #d5d9de;
    border-radius: 2px;
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    box-shadow: 0 0 0.2em #d5d9de;
    border-radius: 4px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 0;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.name span {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    letter-spacing: -.2px;
    color: #131b23;
    border-bottom: none;
}

